<style>

  #platform{
    color: #fe424d;
  
  }
  .head-icons{
    display: flex;
    flex-direction: raw;
   
    justify-content: center;
    margin-top: 0.3rem;
    
  }
  
  .logo-pic img{ 
      margin-top: 0.4rem;
      margin-left: -0.5rem;
      height:20px;
       width:120px;
    
     
  }
  
  
    .search-btn{
        background-color: #fe424d;
        color: #fff;
        border-radius: 25px;
        padding: 0 1rem 0 1rem;
     box-shadow: none !important;
      
        
    }
  
    .search-btn:hover{
        background-color: #fe424d;
        color: #fff;
    }
  
    .btn i{
      display: inline;
      margin-right: 0.5rem;
    }
    
    .search-inp{
     
      border-radius: 25px;
      padding: 0.5rem 3rem 0.5rem 3rem;
    }
  
    
    .collapsed-bg {
          background-color: #ddd !important; /* Grey background color */
          padding-left: 1rem;
      }
  
      @media (max-width: 576px) {
  
        .search-inp{
     border-radius: 2rem;
     padding: 0.5rem;
     width:70% !important;
     
     font-size: small;
     margin-top: 0.2rem;
    
   }
          .search-btn{
        background-color: #fe424d;
       padding: 0;
        margin-top: 0.2rem;
        color: transparent;
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%;
     
  
    }
  
  
    .search-btn i {
      
         
          position: relative;
          top: 7%;
          left: 30%;
          transform: translate(-50%, -50%);
          color: #fff; /* Set the color of the icon */
       
      }
  
        .navbar-toggler {
              padding: 0.15rem 0.25rem; 
          }
          .navbar-toggler-icon {
              font-size: 0.8rem !important;
              padding: 0.2rem !important;
          }
          .navbar-collapse {
              margin-top: 1.4rem; 
              border-top: none;
             
          }
  
          
     }
  
     @media (max-width:800px) {
      .logo-pic img{ 
      margin-top: 0.5rem;
      margin-left: -0.5rem;
      height:20px;
       width:90px;
      
  }
     }
  
        @media (min-width:577px) and (max-width:800px) {
         
  
  .search-inp{
     
     border-radius: 25px;
     padding: 0.5rem 1rem 0.5rem 1rem;
     font-size: small;
   }
        }
  
       @media (min-width:577px) and (max-width: 710px) {
           .nav-link{
              font-size: small !important;
             
           }
           .search-btn{
       
       padding: 0;
       
        height: 2.5rem;
        width:7rem; 
  
    }
  
    .search-inp{
     
     border-radius: 25px;
     padding: 0.5rem 0.5rem 0.5rem 0.5rem;
     width: 10rem;
    
   } 
       }
      
  
      
  </style>

<nav class="navbar navbar-light navbar-expand-sm  border-bottom sticky-top" style="background-color: #ebebeb;">
    <div class="container-fluid">
     
      <div class="head-icons">
        <a class="navbar-brand" href="/listings/"><i class="fa-regular fa-compass"></i> </a>
        <a class="logo-pic" href="/listings" style="text-decoration: none;"> <h3 id="platform">carZone</h3></a>
        
      </div>
 
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
       
        <span class="navbar-toggler-icon"></span>
      </button>
     
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">

             
        </div>

        <div class="navbar-nav ms-auto">
          <form class="d-flex"  method="GET" action="/searchResults" >
          <input class="form-control me-2 search-inp" type="search" name="userQuery" placeholder="Search Cars" aria-label="Search">
            <button class="btn search-btn" type="submit"> <i class="fa-solid fa-magnifying-glass"></i>Search</button>
          </form>
        </div>


        <div class="navbar-nav ms-auto">
          <a class="nav-link" href="/listings/new">Add New Car</a>

       <% if(!currentUser) { %> 
          <a class="nav-link active" aria-current="/" href="/signup"> <b>Sign up</b></a>
       
          <a class="nav-link" href="/login"> <b>Log in</b></a>    
           <% } %>

        <%  if(currentUser) { %>
          <a class="nav-link" href="/logout">Log out</a>
        <% } %>
         
        </div>

       
      </div>
    </div>
  </nav>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
   $(document).ready(function () {
        $('.navbar-toggler').click(function () {
            $('.navbar-collapse').toggleClass('collapsed-bg');
        });
    });

</script>

